@{
    ViewBag.Title = "Sign in";
}


@section Scripts {
    @Scripts.Render("~/pw-scripts/")
}

<h2>Sign In</h2>

<div ng-controller="PW.AccountController as ctrl" ng-cloak>
    <div class="alert alert-danger" ng-if="ctrl.inputErrors.length > 0">
        <div ng-repeat="inputError in ctrl.inputErrors">
            {{inputError.message}}
        </div>
    </div>
    <div class="alert alert-danger" ng-if="ctrl.authErrors.length > 0">
        <div ng-repeat="authError in ctrl.authErrors">
            {{authError.message}}
        </div>
    </div>

    <div class="form-group">
        <label for="Email">Email: </label>
        <input class="form-control" type="text" id="Email" name="Email" placeholder="email" ng-model="ctrl.email" />
    </div>

    <div class="form-group">
        <label for="Password">Password: </label>
        <input class="form-control" type="password" id="Password" name="Password" placeholder="password" ng-model="ctrl.password" />
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Sign In" class="btn btn-default btn-info" ng-click="ctrl.signIn()"/>
        </div>
    </div>
</div>
